---
import { blogCategoryRobots, getStaticPathsBlogCategory } from '~/utils/blog';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

export const prerender = true;

export async function getStaticPaths ({ paginate }) {
  return await getStaticPathsBlogCategory({ paginate });
}

const { page, category } = Astro.props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Categoria '${category}' ${currentPage > 1 ? ` — Pagina ${currentPage}` : ''}`,
  robots: {
    index: blogCategoryRobots?.index,
    follow: blogCategoryRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 py-16 sm:py-24 lg:py-32 mx-auto max-w-6xl">
    <Headline><span class="capitalize">{category.replaceAll('-', ' ')}</span></Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
